# Ignore TestNG output
test-output/

# Ignore Maven build output
target/

# Ignore logs
logs/
*.log

# Ignore temporary files
*.tmp

# Ignore screenshots
screenshots/

# Eclipse specific
.classpath
.project
.settings/
